<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="row">
    <div class="col-md-4">
      <div class="order-summary jumbotron">
        <h4>Thank you for your order!</h4>
      </div>
    </div>
  </div>


  <div class="order-information">
    <% @items.each do |item| %>
    <div class="item jumbotron">
      <h3 class="name"><%= item.product.name %> </h3>
      <div>
        <%= image_tag item.product.image, class: 'img-rounded order-img' %>
      </div>
      <br />
      <ul class="list-group">
        <li class="list-group-item"> <b>Description: </b> <%= item.product.description %></li>
        <li class="list-group-item"> <b>Quantity: </b><%= item.quantity %></li>
        <li class="list-group-item"> <b>Total Price: </b><%=humanized_money_with_symbol item.total_price_cents %></li>
      </ul>
    </div>
    <% end %>

    <div class="row">
      <div class ="col-md-6">
        <div class="jumbotron">
          <b>Total Order Cost: </b><%=humanized_money_with_symbol @order.total_cents %>
          <br />
          <b>Order Email: </b> <%= @order.email %>
        </div>
          <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
      </div>
    </div>

  </div>

</section>
