<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <% if current_user %>
    <span> Write a Review! </span>

    <%= form_for :review, url: @revurl do |form| %>

      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :rating %>
        <%= form.select :rating, [["5*", 5], ["4*", 4], ["3*", 3], ["2*", 2], ["1*", 1], ["0*", 0]] %>
      </div>

      <%= form.submit %>
      <% end %>

    <% else %>

      <span>Log-In to Write a Review!</span>

    <% end %>

    <br />

    <div class='reviews'>
      <% @reviews.each do |review| %>
        <div>
          <div>
            User Name: <%= review.user.first_name %>
          </div>
          <div>
            Rating: <%= review.rating %> / 5
          </div>
          <div>
            Review: <%= review.description %>
          </div>
        </div>

        <% if current_user.id == review.user.id %>

        <%= link_to fa_icon('trash'), product_review_path(@product, review), class: 'btn btn-sm btn-danger', method: :delete%>
        <br />
        <% end %>

      <% end %>
    </div>

  </article>

</section>
